<h2>
  営業成績入力画面
</h2>
<div>
<div class="parts_wrapper">
  <div class="parts_contents clearfix">
    <div class="parts_name required">
      <div class="inner"><span class="hissu">※</span><span>お名前</span></div>
    </div>
    <div class="input_block required">
      <div class="inner">
                <input type="text" name="p361652" id="p361652" value="" class="input50per">
                      </div>
    </div>
  </div>
  <div class="parts_contents clearfix">
    <div class="parts_name required">
      <div class="inner"><span class="hissu">※</span><span>社員番号</span></div>
    </div>
    <div class="input_block required">
      <div class="inner">
                <input type="text" name="p361652" id="p361652" value="" class="input50per">
                      </div>
    </div>
  </div>
  <div class="parts_contents clearfix">
    <div class="parts_name required">
      <div class="inner"><span class="hissu">※</span><span>今月目標数</span></div>
    </div>
    <div class="input_block required">
      <div class="inner">
                <input type="text" name="p361652" id="p361652" value="" class="input50per">
                      </div>
    </div>
  </div>
  <div class="parts_contents clearfix">
    <div class="parts_name required">
      <div class="inner"><span class="hissu">※</span><span>今月受注数</span></div>
    </div>
    <div class="input_block required">
      <div class="inner">
                <input type="text" name="p361652" id="p361652" value="" class="input50per">
                      </div>
    </div>
  </div>
  <div class="parts_contents clearfix">
    <div class="parts_name required">
      <div class="inner"><span class="hissu">※</span><span>TBD</span></div>
    </div>
    <div class="input_block required">
      <div class="inner">
                <input type="text" name="p361652" id="p361652" value="" class="input50per">
                      </div>
    </div>
  </div>
  <div class="parts_contents clearfix last">
    <div class="parts_name required">
      <div class="inner"><span class="hissu">※</span><span>TBD</span></div>
    </div>
    <div class="input_block required">
      <div class="inner">
                <input type="text" name="p361652" id="p361652" value="" class="input50per">
                      </div>
    </div>
  </div>
  <div class="txtCenter mb20">

    <input type="submit" class="input_type02" value="　提出　" onclick="$('input[name=mode]', '#myForm').val('conf');">

  </div>
</div>
<button routerLink="/rollselect">戻る</button>
</div>
